html {
  scroll-behavior: smooth;
  
}
body{
    font-family: 'Literata', serif;
}
#left1
{
	transition-duration:0.4s;
	transform:scale(1.1,1.1);
}
#right2
{
	transition-duration:0.4s;
	transform:scale(1.1,1.1);
}
	
.kel-button{
	border:2px solid white;
	color:white;
	transition-duration:0.2s;
}
.kel-button:hover{
	border:2px solid white;
	transform:scale(1.08, 1.08);
	cursor:pointer;
}
.kel-heading{
	margin-top:50px;
	font-weight:800;
	font-size:40px;
}
.kel-heading:hover{
	cursor:pointer;
}
.kel-hover{
	transition-duration:0.2s;
    transition-timing-function:ease-out;
}
.kel-hover:hover{
	cursor:pointer;
	transform:scale(1.1,1.1);
}
.kel-hover-2{
	transition-duration:0.3s;
}
.kel-hover-2:hover{
	cursor:pointer;
}
.loader {
    border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 1s linear infinite; 
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
#left1
{
	transition-duration:0.4s;
	transform:scale(1.1,1.1);
}
#right2
{
	transition-duration:0.4s;
	transform:scale(1.1,1.1);
}
.kel-heading{
	margin-top:50px;
	font-weight:800;
	font-size:40px;
}
.kel-heading:hover{
	cursor:pointer;
}
.kel-click{
    box-shadow: 0px 0px 8px 0 rgba(0, 0, 0, 0.5);
    transition-duration:0.2s;
}
.kel-click:hover{
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.4);
}
